In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('/Users/kishorecheruku/Downloads/sales_complex_dirty.csv')
df.head()

,OrderID,OrderDate,CustomerName,Region,Product,Category,Quantity,UnitPrice,TotalAmount,PaymentMethod
0,1001,2024-01-05,Alice Johnson,North,Laptop Pro 15,Electronics,2,1200.0,2400.0,Credit Card
1,1002,01/06/2024,Bob Smith,South,Wireless Mouse,Electronics,3,25.5,76.5,UPI
2,1003,2024/01/07,Charlie,East,Office Chair,Furniture,1,199.99,199.99,Cash
3,1004,7 Jan 2024,David Lee,West,Desk Lamp,Electronics,4,18.75,75.0,Credit Card
4,1005,2024-01-08,Eve,NORTH,Standing Desk,Furniture,1,399.0,399.0,Debit Card

In [5]:
df.shape[0]

28

In [6]:
df.shape[1]

10

In [10]:
df.dtypes.to_frame("dtype")

                dtype
OrderID         int64
OrderDate      object
CustomerName   object
Region         object
Product        object
Category       object
Quantity       object
UnitPrice      object
TotalAmount    object
PaymentMethod  object

In [15]:
df.isna().sum().to_frame("NaN Count")

               NaN Count
OrderID                0
OrderDate              1
CustomerName           1
Region                 2
Product                1
Category               0
Quantity               2
UnitPrice              1
TotalAmount            4
PaymentMethod          0

In [18]:
df.select_dtypes(include=[np.number]).columns.tolist()

['OrderID']

In [22]:
df.select_dtypes(exclude=[np.number]).columns.tolist()

['OrderDate',
 'CustomerName',
 'Region',
 'Product',
 'Category',
 'Quantity',
 'UnitPrice',
 'TotalAmount',
 'PaymentMethod']