In [1]:
import pandas as pd
import matplotlib.pyplot as plot

In [5]:
data = pd.read_csv("/Users/kishorecheruku/Downloads/MathsnStats_shoe_sale_analysis_resources/shoe_sales.csv")
data.head(10)

       date   brand  sold_qty
0  9/1/2023    Nike      24.0
1  9/1/2023  Adidas      14.0
2  9/2/2023    Nike      21.0
3  9/2/2023  Adidas      12.0
4  9/3/2023    Nike      18.0
5  9/3/2023  Adidas      11.0
6  9/4/2023    Nike      22.0
7  9/4/2023  Adidas      13.0
8  9/5/2023    Nike      20.0
9  9/5/2023  Adidas      10.0

In [18]:
data[data['sold_qty'] == data['sold_qty'].mode()[0]]

         date   brand  sold_qty
11   9/6/2023  Adidas      15.0
35  9/18/2023  Adidas      15.0
36  9/19/2023    Nike      15.0
46  9/24/2023    Nike      15.0
55  9/28/2023  Adidas      15.0

In [20]:
data.describe()

         sold_qty
count   58.000000
mean    27.482759
std     88.519844
min      7.000000
25%     12.250000
50%     16.000000
75%     19.750000
max    689.000000

In [63]:
# Convert string values to numeric
data['sold_qty'] = pd.to_numeric(data['sold_qty'], errors='coerce')

# Now sort the values
# quantity = data['sold_qty'].sort_values()

# Calculate quantile on the numeric column
q1 = data['sold_qty'].quantile(0.25, interpolation="linear")
print(q1)

q3 = data['sold_qty'].quantile(0.75, interpolation='linear')
print(q3)

iqr = q3 - q1
print(iqr)

lower_bound = q1 - 1.5 * iqr
print(lower_bound)
high_bound = q3 + 1.5 * iqr
print(high_bound)
outliers = data['sold_qty'][
    (data['sold_qty'] < lower_bound) | (data['sold_qty'] > high_bound)
]
print(outliers.values)

# Create a mask for clean data instead of creating a separate Series
clean_data_mask = (data['sold_qty'] >= lower_bound) & (data['sold_qty'] <= high_bound)

# Apply the mask to the entire dataframe
clean_data = data[clean_data_mask]

# If you just want to see the sold_qty column of clean data:
print(clean_data)

12.25
19.75
7.5
1.0
31.0
[689.]
         date   brand  sold_qty
0    9/1/2023    Nike      24.0
1    9/1/2023  Adidas      14.0
2    9/2/2023    Nike      21.0
3    9/2/2023  Adidas      12.0
4    9/3/2023    Nike      18.0
5    9/3/2023  Adidas      11.0
6    9/4/2023    Nike      22.0
7    9/4/2023  Adidas      13.0
8    9/5/2023    Nike      20.0
9    9/5/2023  Adidas      10.0
10   9/6/2023    Nike      23.0
11   9/6/2023  Adidas      15.0
12   9/7/2023    Nike      19.0
13   9/7/2023  Adidas      16.0
14   9/8/2023    Nike      17.0
15   9/8/2023  Adidas       8.0
16   9/9/2023    Nike      25.0
17   9/9/2023  Adidas      17.0
18  9/10/2023    Nike      14.0
19  9/10/2023  Adidas       7.0
20  9/11/2023    Nike      23.0
21  9/11/2023  Adidas       9.0
22  9/12/2023    Nike      19.0
24  9/13/2023    Nike      16.0
25  9/13/2023  Adidas      11.0
26  9/14/2023    Nike      22.0
27  9/14/2023  Adidas      13.0
28  9/15/2023    Nike      17.0
29  9/15/2023  Adidas      10.0
30  9/16/2023    Nike      21.0
31  9/16/2023  Adidas      14.0
33  9/17/2023  Adidas       8.0
34  9/18/2023    Nike      18.0
35  9/18/2023  Adidas      15.0
36  9/19/2023    Nike      15.0
37  9/19/2023  Adidas       7.0
38  9/20/2023    Nike      24.0
39  9/20/2023  Adidas      19.0
40  9/21/2023    Nike      24.0
41  9/21/2023  Adidas      18.0
42  9/22/2023    Nike      16.0
43  9/22/2023  Adidas      12.0
44  9/23/2023    Nike      20.0
45  9/23/2023  Adidas      11.0
46  9/24/2023    Nike      15.0
47  9/24/2023  Adidas      14.0
49  9/25/2023  Adidas      10.0
50  9/26/2023    Nike      19.0
51  9/26/2023  Adidas       9.0
52  9/27/2023    Nike      22.0
53  9/27/2023  Adidas      13.0
54  9/28/2023    Nike      21.0
55  9/28/2023  Adidas      15.0
56  9/29/2023    Nike      17.0
57  9/29/2023  Adidas       8.0
58  9/30/2023    Nike      18.0
59  9/30/2023  Adidas      16.0